*.o
*.a
*.rsrc
*~
CMakeCache.txt
CMakeFiles
*.cmake
*.make
Makefile
install_manifest.txt
compile_commands.json
CMakeLists.txt.user
Source/build*
build*
obj.X86
.ninja*
.dir-locals.el
.ignore
.cache
.ccls-cache
.clang-format
GPATH
GRTAGS
GTAGS
ID
bgswitch
